.elementor-372 .elementor-element.elementor-element-2bd69c6 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-12b95db {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-7a999c8 {
    --display: flex;
}

.elementor-372 .elementor-element.elementor-element-7a999c8.e-con {
    --align-self: center;
}

.elementor-372 .elementor-element.elementor-element-691d86b>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-691d86b {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-aecf617>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-aecf617 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-3a33d1f>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-3a33d1f {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-75259bc>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-75259bc {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-8453819>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-8453819 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-e94aac3>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-e94aac3 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-4054685>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-4054685 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-3b421d2>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-3b421d2 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-e38ecb3>.elementor-widget-container:hover {
    --e-transform-scale: 1.2;
}

.elementor-372 .elementor-element.elementor-element-e38ecb3>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-e38ecb3 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-e38ecb3 img {
    width: 140px;
}

.elementor-372 .elementor-element.elementor-element-a9d7eb2 {
    --display: flex;
    --min-height: 100vh;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-2e72e58 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --flex-wrap: wrap;
}

.elementor-372 .elementor-element.elementor-element-2e72e58.e-con {
    --align-self: center;
}

.elementor-372 .elementor-element.elementor-element-8b5def1 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-7b615de {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-c99cf5d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-c99cf5d {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-407df84>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-407df84 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-920f2df {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-cdab602 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-e0edc97>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-e0edc97 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-3fb50f3 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-398af2c {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-765f6ae>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-765f6ae {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-ba9777e {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-801b6ab {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-e8e8d08>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-e8e8d08 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-9b3183e {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-8651f3e {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-a09ff37>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-a09ff37 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-56170ee {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-607f052 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-71c9568>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-71c9568 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-b140ad4 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-2456d7c {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-82b3d22>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-82b3d22 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-657a6f8 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-07b00dc {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-1d3420f>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-1d3420f {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-46fdcab {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-ec368b6 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-6622819>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-6622819 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-37ee7f7 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-5345fe0 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-afbe5b9>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-afbe5b9 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-52ca615 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-5991434 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-f91219e>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-f91219e {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-b75a042 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-6b457a4 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-64146d7>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-64146d7 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-29bf424 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-3f14f6e {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-3612f04>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-3612f04 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-1306a63 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-9f3d457 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-e728f6d>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-e728f6d {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-e334673 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-c591918 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-757808a>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-757808a {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-adb53c3 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-680e9b6 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-455f8f0>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-455f8f0 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-149b4c7 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-e615636 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-8e54a4f>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-8e54a4f {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-72e5783 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-b4bdd69 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-2201e1c>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-2201e1c {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-75b7dbc {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-c5e3132 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-5d5269d>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-5d5269d {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-97566c1 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-f8ad366 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-e1f6e91>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-e1f6e91 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-63da586 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-5aea5f7 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-fe12578>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-fe12578 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-ab4f781 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-abcd01f {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-c8691d9>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-c8691d9 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-9b8a0df {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-bb7e11d {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-bd79db3>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-bd79db3 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-1123fc2 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-27e0231 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-a56fce6>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-a56fce6 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-dd08bc7 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-16b6aad {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-92ba9ab>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-92ba9ab {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-28cbbf5 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-68f3dda {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-81972f8>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-81972f8 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-c62dc65 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-d717932 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-d192438>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-d192438 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-a628694 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-8805b5f {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-c2bdc1d>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-c2bdc1d {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-e55c155 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-1d4cd87 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-c920f86>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-c920f86 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-0fed07b {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-9ea254b {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-34dbb54>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-34dbb54 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-bea2562 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-fb08bce {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-bdd1aff>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-bdd1aff {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-0fbc2c9 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-3e9f311 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-cd99d1f>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-cd99d1f {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-82cac8e {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-5f3a462 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-b7050ad>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-b7050ad {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-ef55ba0 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-9003719 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-870071f>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-870071f {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-bdc5ad2 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-7a83049 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-1daf3bb>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-1daf3bb {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-bd185d5 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-6ef9c8a {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-59bc2f1>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-59bc2f1 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-e9d591b {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-40ff83e {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-a0df481>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-a0df481 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-17b1cbe {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-9017cc4 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-a44a8c4>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-a44a8c4 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-2d23543 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-edd302c {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-b31ca8e>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-b31ca8e {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-f921094 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-b1e695f {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-3f214ae>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-3f214ae {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-266ccf5 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-c2b1b1b {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-72f7fb2>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-72f7fb2 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-eca3be3 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-f49347c {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-7499dcd>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-7499dcd {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-b346f8c {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-bcbb634 {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-c4a5719>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-c4a5719 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-498ab12 {
    --display: flex;
    --margin-top: 50px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-372 .elementor-element.elementor-element-8385aac {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-7aa9516>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-7aa9516 {
    text-align: justify;
}

.elementor-372 .elementor-element.elementor-element-a4f375c>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-372 .elementor-element.elementor-element-a4f375c {
    text-align: center;
}

.elementor-372 .elementor-element.elementor-element-a4f375c img {
    width: 7vw;
}

html {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-padding: 0px;
}

:root {
    --page-title-display: none;
}

.elementor-section:not(.elementor-inner-section),
.elementor-location-header,
.elementor-location-footer,
.page-header,
.site-header,
.elementor-add-section,
.e-con:not(.e-child) {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

@media(max-width:1024px) {

    .elementor-section:not(.elementor-inner-section),
    .elementor-location-header,
    .elementor-location-footer,
    .page-header,
    .site-header,
    .elementor-add-section,
    .e-con:not(.e-child) {
        scroll-snap-align: start;
        scroll-snap-stop: normal;
    }
}

@media(min-width:768px) {
    .elementor-372 .elementor-element.elementor-element-12b95db {
        --width: 50%;
    }

    .elementor-372 .elementor-element.elementor-element-7a999c8 {
        --width: 60%;
    }

    .elementor-372 .elementor-element.elementor-element-a9d7eb2 {
        --width: 50%;
    }

    .elementor-372 .elementor-element.elementor-element-2e72e58 {
        --width: 60%;
    }
}

@media(max-width:767px) {
    .elementor-372 .elementor-element.elementor-element-7a999c8 {
        --width: 90%;
    }

    .elementor-372 .elementor-element.elementor-element-691d86b .elementor-heading-title {
        font-size: 22px;
    }

    .elementor-372 .elementor-element.elementor-element-e38ecb3.elementor-element {
        --align-self: center;
    }

    .elementor-372 .elementor-element.elementor-element-e38ecb3 img {
        width: 140px;
    }

    .elementor-372 .elementor-element.elementor-element-2e72e58 {
        --width: 90%;
        --margin-top: 50px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-372 .elementor-element.elementor-element-8b5def1 .elementor-heading-title {
        font-size: 22px;
    }

    .elementor-372 .elementor-element.elementor-element-a4f375c>.elementor-widget-container:hover {
        --e-transform-scale: 1.2;
    }

    .elementor-372 .elementor-element.elementor-element-a4f375c.elementor-element {
        --align-self: center;
    }

    .elementor-372 .elementor-element.elementor-element-a4f375c img {
        width: 140px;
    }

    .elementor-section:not(.elementor-inner-section),
    .elementor-location-header,
    .elementor-location-footer,
    .page-header,
    .site-header,
    .elementor-add-section,
    .e-con:not(.e-child) {
        scroll-snap-align: start;
        scroll-snap-stop: normal;
    }
}

/* Start custom CSS for container, class: .elementor-element-12b95db */
/*SCROLLBARS*/
@media only screen and (min-width: 768px) {
    .elementor-372 .elementor-element.elementor-element-12b95db {
        max-height: 100vh;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .elementor-372 .elementor-element.elementor-element-12b95db::-webkit-scrollbar {
        width: 5px;
    }

    .elementor-372 .elementor-element.elementor-element-12b95db::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    .elementor-372 .elementor-element.elementor-element-12b95db::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
    }
}

/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-a9d7eb2 */
/*SCROLLBARS*/
@media only screen and (min-width: 768px) {
    .elementor-372 .elementor-element.elementor-element-a9d7eb2 {
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .elementor-372 .elementor-element.elementor-element-a9d7eb2::-webkit-scrollbar {
        width: 5px;
    }

    .elementor-372 .elementor-element.elementor-element-a9d7eb2::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    .elementor-372 .elementor-element.elementor-element-a9d7eb2::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
    }
}

/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2bd69c6 */
@media only screen and (max-width: 768px) {
    .elementor-372 .elementor-element.elementor-element-2bd69c6 {
        max-height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .elementor-372 .elementor-element.elementor-element-2bd69c6::-webkit-scrollbar {
        width: 10px;
    }

    .elementor-372 .elementor-element.elementor-element-2bd69c6::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }

    .elementor-372 .elementor-element.elementor-element-2bd69c6::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 1);
    }
}

/* End custom CSS */